__pycache__
venv
*.bak
*.csv
*.swp
*.sqlite*
*.sqlite*journal
.dockerignore*
*.env*
.git*
.trivyignore
contrib
data-dumps
data*.json
docker-data
docs
requirements-build.txt
static
docker-compose*.yml
Dockerfile
GunCAD-Mirror-Unraid.xml
README.md
yamlfmt.yml
